.sidebar-navbar-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.sidebar-outlet {
    display: flex;
    flex-direction: row;
}