.banners-container {
    display: flex;
    flex-direction: column;
}

.banner-image {
    height: 170px;
    width: 380px;
}

.banner-update-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.banner-update-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.banner-image-content {
    display: flex;
    height: 150px;
    align-items: center;
    margin: 0;
}

.banner-update-activity {
    display: flex;
    align-items: center;
    height: 70px;
    margin: 0;
}

.banner-update-left {
    font-size: 16px;
    font-weight: 600;
}

.banners-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-add-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 450;
}

.add-picture {
    display: flex;
    align-items: center;
    height: 150px;
    width: 120px;
}

.add-column {
    display: flex;
    align-items: center;
    height: 40px;
}