.brand-image {
    height: 120px;
    width: 250px;
}

.banner-add-picture-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.add-column {
    display: flex;
    align-items: center;
    padding: 10px 0;
    min-height: 40px;
}

.banner-add-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 450;
}

.add-right {
    min-width: 370px;
}

.add-picture {
    display: flex;
    gap: 25px
}