.product-image {
    height: 120px;
    width: 200px;
}

.add-picture {
    display: flex;
    align-items: center;
    height: 110px;
    gap: 25px;
    margin: 15px 0;

}

.add-textarea {
    height: 70px;
}

.product-add-right {
    min-width: 500px;
}

.product-header-filters {
    display: flex;
    flex-direction: row;
    width: 500px;
    gap: 25px;
}